<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @Html.Raw(ViewData["Carousel"])
</div>

<div class="row">
    @Html.Raw(ViewData["rows"])
</div>

<script>
    window.location.assign("/adminControl");
</script>