
@functions
{
    public string GetHtmlFromSpoon(string containerName, string itemName)
    {        
        return System.Net.WebUtility.HtmlDecode(SpoonCMS.Workers.SpoonDataWorker.GetContainer(containerName).GetItem(itemName).Value);
    }
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    @Html.Raw(@GetHtmlFromSpoon("HomePage", "myCarousel"))

</div>

<div class="row">
    @Html.Raw(@GetHtmlFromSpoon("HomePage", "rows"))
</div>

<script>
    //window.location.assign("/admin");
</script>