
@functions
{
    SpoonCMS.Classes.Container container = SpoonCMS.Workers.SpoonDataWorker.GetContainer("HomePage");
    public string GetHtmlFromSpoon(string itemName)
    {
        return System.Net.WebUtility.HtmlDecode(container.GetItem(itemName).Value);
    }
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    @*@Html.Raw(@GetHtmlFromSpoon("myCarousel"))*@
    @Html.Raw(ViewData["Carousel"])

</div>

<div class="row">
    @Html.Raw(@GetHtmlFromSpoon("rows"))
</div>

<script>
    //window.location.assign("/admin");
</script>