@model ExampleCore.ViewModel.HomePageViewModel
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @Html.Raw(Model.carousel)
</div>

<div class="row">
    @Html.Raw(Model.rows)
</div>

<script>
    window.location.assign("/adminControl");
</script>